<!DOCTYPE html>

{{> main}}

<div class="bio">
	<div id="bio-topic-title">BIO</div>
<!-- 	<p>Ingrid is working to develop her skills as a genius. She tried to stop making things. It didn't work.</p> -->
<!--     <p>Ingrid wants to be a creative genius. Please do what you can to help her get there.</p> -->
    <!-- <p>Ingrid is creative.</p> -->
    <!-- <p>Ingrid wants to heal the world and have fun doing it. Please do what you can to help her.</p> -->
    <p id="bio-paragraph">Ingrid aspires to be a pop cultural figure and an entrepreneur
    in consumer technology. If there is anything that you can do to
    help her get there, contact her. Above all else, Ingrid aspires
    to contribute towards the world's healing by speaking with a voice
    of compassion and unity and by creating technological systems that better connect
    the voices of humankind. The problems that we face as a community
    stem from the core of our community's beliefs. Ingrid sees the ideological influences
    of pop culture and the systemic influences of consumer technology
    as the two key most powerful resources that we have to influence
    the ideologies and actions that persist in culture at large.
    </p>
</div>
