<!DOCTYPE html>

{{> main}}

<head>
	<link rel="stylesheet" type="text/css" href="/site_style.css"/>
</head>

<body>

<div class="paint-container">

	<div id="topic-title">TECH</div>
	<div id="tech-heading">GITHUB</div>
	<div id='pad'><a id='git' href="https://github.com/ingridzippe">GitHub</a></div>
	<div id="tech-heading">ENSE</div>
	<div class='paint-photos'>
	    <div class="paint-pic" id="black"></div>
	    <div class="paint-pic" id="graphic"></div>
	    <div class="paint-pic" id="garden"></div>
	    <div class="paint-pic" id="hilma"></div>
	    <div class="paint-pic" id="fabric"></div>
	    <div class="paint-pic" id="neon"></div>
    </div>

</div>

</body>