<!DOCTYPE html>

{{> main}}

<head>
	<link rel="stylesheet" type="text/css" href="/site_style.css"/>
</head>

<body>

<div class="paint-container">

	<div id="topic-title">TECH</div>
	<div id="tech-heading">GITHUB</div>
	<p id='tech-paragraph'>Find me on GitHub <a id='git' href="https://github.com/ingridzippe">here</a></p>
	<div id="tech-heading">ENSE</div>
    <p id='tech-paragraph'>I worked on the iOS version of <a id='ense-link' href="https://itunes.apple.com/us/app/ense/id1136044148?mt=8">the ense app</a>
	writing code in React Native.</p>
	<div id="tech-heading">EXPERIENCE</div>
    <ul id='tech-paragraph'>
		<p id="la">Horizons School of Technology | Fellow in Mobile and Web Development | Fall 2017</p>
        <p id="la">Ense | iOS Development in React Native | Summer 2017</p>
        <p id="la">Ense | Integrating Amazon Alexa with Ense | Winter 2017</p>
		<p id="la">R & R Studios | Web Development | Summer 2016</p>
        <p id="la">Brown University Computer Science Curricula</p>
    </ul>

<!-- <div class='paint-photos'>
	    <div class="paint-pic" id="black"></div>
	    <div class="paint-pic" id="graphic"></div>
	    <div class="paint-pic" id="garden"></div>
	    <div class="paint-pic" id="hilma"></div>
	    <div class="paint-pic" id="fabric"></div>
	    <div class="paint-pic" id="neon"></div>
    </div> -->

</div>

</body>
